body{
  font: 16px/1.5 arial;
  margin: 0;
  padding: 0;
}
/*
.container{
  width: 94%;
  margin:auto;
  overflow: hidden;
}
*/
.icon-link{
  height: 2em;
  width: 2em;
}

header{
  width: 100%;
  background-color: #dddd22;
  color: #FFFFFF;
  height: 125px;
  box-shadow: inset 0px -4px 10px 0px #2A8ACA;
}

/*
header .container{
  width: 100%;
}*/

header ul{
  float: right;
}

header li{
  display: inline;
}

#links{
  width: 30%;
  min-width: 100px;
  float: right;
  text-decoration: none;
}

.item{
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: auto;
  margin-left: auto;

  padding: 5px 0 5px;
  width: 98%;
  box-shadow: 2px 2px 3px 0px #CCC;
}

#listArea{


  float: left;
  background-color: #7B7D7D;
}
