body{
  font: 16px/1.5 arial;
  margin: 0;
  padding: 0;
  position: relative;
}

html, body{
  height: 100%;
    width: 100%;
}

header{
  width: 100%;
  color: #FFFFFF;
  height: 100px;
  overflow: hidden;
  /*box-shadow: inset 0px -4px 10px 0px #2A8ACA;*/
  /*box-shadow: inset 0px -2px 3px 0px #2A8ACA;*/
  display: relative;
}

footer{
  height: 60px;
  background-color: #C9C9C9;
  width: 100%;
  padding-top: 15px;
}

.icon-link{
  height: 1.5em;
  width: 1.5em;
}

#title{
  color:#FFF;
  line-height: 40px;
  width: 20%;
  min-width: 300px;
  overflow: hidden;
  padding: 0;
  margin: 30px 0 15px 0;
  font-size: 40px;
  padding-left: 70px;
  display: inline-block;
  float:left;
  font-weight:bold;
  transition: 1s;
}

#drop-down{
  display: inline-block;
  position: absolute;
  right:32px;
  top:26px;
  z=1;
  border: 2px solid #FFF;
  border-radius: 2px;
}

#drop-down:hover{
  background-color: #BBB;
}

@media screen and (max-width:500px){
  #title{
    padding-left: 25px;
  }

  #drop-down{
    right: 25px;
  }

}

#links{
  min-width: 100px;
  text-decoration: none;
  padding-left: 20px;
  float: left;
}

#hub{
  /*margin-bottom: 5px;*/
  text-align: center;
  position: relative;
}

#add{
  position: absolute;
  top: 5px;
  right: 30px;
  height: 45px;
  width: 45px;
  border-radius: 2px;
  background-color: #BBB;
  padding: 7px;
  transition: 1s;
}

#add:hover{
  border-radius: 50%;
  background-color: #888;
  transition: 1s;
  cursor: pointer;
}

#empty-default{
  box-shadow: none !important;
  text-align: center;
  font-size: 20px;
}

#addition-expansion{
  height:0px;
  overflow: hidden;
  background-color: #454545;
  z-index: 1;
  transition: 1.5s;
  font-size: 16px;
}

.create{
  height: 190px !important;
  transition: 1.5s;
}

@media screen and (max-width:767px){
  .create{
    height: 330px !important;
    transition: 1.5s;
  }
}

.input-item{
  background-color: #5e5e5e;
  border: 0;
  border-radius: 3px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 20px;
  padding-left: 10px;
  color: #FFF;
  width: 100%;
}

.input-item-min{
  line-height: 30px !important;
  font-size: 16px !important;
}

.input-item::placeholder{
  color: #999;
}


.input-item:focus{
  outline:none;
  background-color: #666;
  font-weight: lighter;
}

#addition-expansion textarea{
  font-size: 16px;
  resize:none;
  height:100px;
}

#addition-expansion textarea::-webkit-scrollbar {
    width: 10px;
}

/* Track */
#addition-expansion textarea::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 4px;
}

/* Handle */
#addition-expansion textarea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
}

/* Handle on hover */
#addition-expansion textarea::-webkit-scrollbar-thumb:hover {
    background: #555;
}


.btn-sty{
  background-color: #ABB2B9;
  border: 1px solid #566573;
  border-radius: 4px;
  margin-right: 10px;
}

.btn-sty:focus{
  outline:none;
}

.btn-sty:hover{
  background-color: #D5D8DC;
}


.item-col{
  max-width: 1000px;
  margin: auto;
}

/*
  Styling for to-do items
*/
.item{
  margin-bottom: 14px;
  margin-right: auto;
  margin-left: auto;
  padding: 10px 0 5px 20px;
  width: 98%;
  box-shadow: 2px 2px 3px 0px #CCC;
  min-height: 80px;
  background-color: #FFF;
  position: relative;
  overflow: hidden;
}

.item-main{
  font-size: 20px;
}

.item-edit{
  width:24px;
  height: 24px;
  background-color: #BBB;
  border-radius: 50%;
  box-shadow: inset 1px -1px 15px 2px #FFF;
  position: absolute;
  top:0;
  right:0;
  overflow: hidden;
  transition: .4s;
}

.item-edit img{
  width: 14px;
  height: 14px;
  float: left;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: 1s;
}

.item-delete{
  width:24px;
  height: 24px;
  background-color: #BBB;
  border-radius: 50%;
  box-shadow: inset 1px -1px 15px 2px #FFF;
  position: absolute;
  top:24px;
  right:0;
  overflow: hidden;
  transition: .4s;
}

.item-delete img{
  width: 14px;
  height: 14px;
  float: left;
  position: absolute;
  top: 5px;
  right: 5px;
  transition: 1s;
}
