.bg-default{
  background-color: #3498DB;
}
.color-default{
  color: #3498DB;
}
.item-default{
  border: 3px solid #3498DB;
  border-radius: 5px;
}

.bg-red{
  background-color: #E74C3C;
}
.color-red{
  color: #E74C3C;
}
.item-red{
  border: 3px solid #E74C3C;
  border-radius: 5px;
}

.bg-orange{
  background-color: #D35400;
}
.color-orange{
  color: #D35400;
}
.item-orange{
  border: 3px solid #D35400;
  border-radius: 5px;
}

.bg-yellow{
  background-color: #F1C40F;
}
.color-yellow{
  color: #F1C40F;
}
.item-yellow{
  border: 3px solid #F1C40F;
  border-radius: 5px;
}

.bg-green{
  background-color: #27AE60;
}
.color-green{
  color: #27AE60;
}
.item-green{
  border: 3px solid #27AE60;
  border-radius: 5px;
}

.bg-pink{
  background-color: #FF80EE;
}
.color-pink{
  color: #FF80EE;
}
.item-pink{
  border: 3px solid #FF80EE;
  border-radius: 5px;
}

.bg-purple{
  background-color: #9B59B6;
}
.color-purple{
  color: #9B59B6;
}
.item-purple{
  border: 3px solid #9B59B6;
  border-radius: 5px;
}

.bg-dark{
  background-color: #2244ff;
}
.color-dark{
  color: #2244ff;
}
.item-dark{
  border: 3px solid #2244ff;
  border-radius: 5px;
}

.bg-grey{
  background-color: #7B7D7D;
}
.color-grey{
  color: #7B7D7D;
}
.item-grey{
  border: 3px solid #7B7D7D;
  border-radius: 5px;
}
