.header-theme{
  background-color: #3498DB;
/*  border: 2px solid #2A8ACA;*
  border-top: 0;
  border-left: 0;
  border-right: 0;*/

}

.hub-theme{
  background-color: #f1f1f0;
  padding: 15px 0 15px 0;
/*  color: #FFF;*/
}

.color-theme{
  color: #3498DB;
}
.item-theme{
  border: 2px solid #58ade3;
  /*background-color: #85c4ed;*/
  border-radius: 2px;
}
