.header-theme{
  background-color: #3498DB;
/*  border: 2px solid #2A8ACA;*
  border-top: 0;
  border-left: 0;
  border-right: 0;*/
}

.hub-theme{
  background-color: #f1f1f0;
}

.color-theme{
  color: #3498DB;
}
.item-theme{
  border: 2px solid #3498DB;
  border-radius: 6px;
}
.menu-item:hover{
  background-color: #3498DB;
}

#user-name:focus, #user-email:focus, #message-subject:focus, #message-body:focus{
    outline: none !important;
    border-color: #67b2e4;
    box-shadow: 0 0 1px 3px #b3d8f2;
}
