body{
  background-color: #030305;
}

.bg-theme{
  background-color: #2C3E50;
}
.color-theme{
  color: #2C3E50;
}
.item-theme{
  border: 2px solid #2C3E50;
  border-radius: 6px;
  background-color: #666;
}

.header-theme{
  background-color: #333;
/*  border: 2px solid #2A8ACA;*
  border-top: 0;
  border-left: 0;
  border-right: 0;*/
}

.hub-theme{
  background-color: #c1c1c0;
}

footer{
  background-color: #353536;
  color: #aaa;
}

#menu-settings:hover{
  background-color: #BBB;
}
