.header-theme{
  background-color: #27AE60;
}

.hub-theme{
  background-color: #f1f1f2;
}

.color-theme{
  color: #27AE60;
}

.item-theme{
  border: 2px solid #27AE60;
  border-radius: 6px;
}

.menu-item:hover{
  background-color: #27AE60;
}
