.header-theme{
  background-color: #7B7D7D;
}

.hub-theme{
  background-color: #f1f1f2;
}

.color-theme{
  color: #7B7D7D;
}

.item-theme{
  border: 2px solid #7B7D7D;
  border-radius: 6px;
}

.menu-item:hover{
  background-color: #7B7D7D;
}
