.header-theme{
  background-color: #E67E22;
}

.hub-theme{
  background-color: #f1f1f2;
}

.color-theme{
  color: #E67E22;
}

.item-theme{
  border: 2px solid #E67E22;
  border-radius: 6px;
}

.menu-item:hover{
  background-color: #E67E22;
}
