.header-theme{
  background-color: #E67E22;
}

.hub-theme{
  background-color: #f1f1f2;
}

.color-theme{
  color: #E67E22;
}

.item-theme{
  border: 2px solid #E67E22;
  border-radius: 6px;
}

.menu-item:hover{
  background-color: #E67E22;
}

#user-name:focus, #user-email:focus, #message-subject:focus, #message-body:focus {
    outline: none !important;
    border-color: #ec9e59;
    box-shadow: 0 0 1px 3px #f6cfac;
}
