.header-theme{
  background-color: #FF9AF3;
}

.hub-theme{
  background-color: #f1f1f2;
}

.color-theme{
  color: #FF9AF3;
}

.item-theme{
  border: 2px solid #FF9AF3;
  border-radius: 6px;
}

.menu-item:hover{
  background-color: #FF9AF3;
}
