.header-theme{
  background-color: #9B59B6;
}

.hub-theme{
  background-color: #f1f1f2;
}

.color-theme{
  color: #9B59B6;
}

.item-theme{
  border: 2px solid #9B59B6;
  border-radius: 6px;
}

.menu-item:hover{
  background-color: #9B59B6;
}
