.header-theme{
  background-color: #E74C3C;
}

.hub-theme{
  background-color: #f1f1f0;
}

.color-theme{
  color: #E74C3C;
}

.item-theme{
  border: 2px solid #E74C3C;
  border-radius: 6px;
}

#menu-settings:hover{
  background-color: #E74C3C;
}
