.header-theme{
  background-color: #F1C40F;
}

.hub-theme{
  background-color: #f1f1f2;
}

.color-theme{
  color: #F1C40F;
}

.item-theme{
  border: 2px solid #F1C40F;
  border-radius: 6px;
}

.menu-item:hover{
  background-color: #F1C40F;
}
