.header-theme{
  background-color: #F1C40F;
}

.hub-theme{
  background-color: #f1f1f2;
}

.color-theme{
  color: #F1C40F;
}

.item-theme{
  border: 2px solid #F1C40F;
  border-radius: 6px;
}

.menu-item:hover{
  background-color: #F1C40F;
}

#user-name:focus, #user-email:focus, #message-subject:focus, #message-body:focus {
    outline: none !important;
    border-color: #f5d34b;
    box-shadow: 0 0 1px 3px #fae9a5;
}
